
{% extends 'hd/base.html' %}
{% load static %}
{% block content %} 

<!-- <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Todays Patient Appointments</h4>
                                <p class="category">Here is a subtitle for this table</p>
                                <p>First Name : {{ patients.firstName }}</p>
                                <p> Last Name : {{ patients.lastName }}</p>
                            </div>
                           
                        </div>
                    </div>


                    

                </div> -->

    <div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-2">
                        <div class="profile-img">
                            <img src="{% static 'assets/img/default-avatar.png' %}" alt="" class="img-thumbnail"/>
                           <!--  <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="profile-head">
                                    <h5>{{ appointmentstoday.patientid }} :
                                         {{ appointmentstoday.firstName}} {{ appointmentstoday.lastName }}  
                                    </h5>
                                    
                                    <p class="proile-rating">Nephrologist : {{ appointmentstoday.staff }}</p>
                            
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div>
                </div>
                <div class="row">
                  <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#about">Appointment Info</a></li>
                <li><a data-toggle="tab" href="#prescription">Presciption </a></li>
               
              </ul>
             
                         <div class="tab-content" >
                              <div class="tab-pane active" id="about">
                                <div class="row">
                                    <h1></h1>
                                </div>
                                    <div class="row">
                                            <div class="col-md-2">
                                                <label>Patient ID </label>
                                            </div>
                                            <div class="col-md-10">
                                                <p>{{ appointmentstoday.patientid}}</p>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Patient</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{ appointmentstoday.firstName}} {{ appointmentstoday.lastName}}</p>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Gender</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{ appointmentstoday.gender }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Appointment Date</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{ appointmentstoday.appointDate}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Appointment Time</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{ appointmentstoday.appointTime }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Patient Contact</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{ appointmentstoday.phoneNo }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Date of Birth</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{ appointmentstoday.dob }}</p>
                                            </div>
                                        </div>
                            </div>
                             <div class="tab-pane" id="prescription">
                                        <div class="row">
                                    <h1></h1>
                                </div>
                                    <div class="row">
                                            <div class="col-md-2">
                                                <label>Dialysis Type </label>
                                            </div>
                                            <div class="col-md-10">
                                                <p>{{ appointmentstoday.dialysisType}}</p>
                                            </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Blood Flow Rate</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{ appointmentstoday.bfr}} ml/min</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Dialyzate Flow Rate</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{ appointmentstoday.dfr}} ml/min</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Total Buffer Setting</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{ appointmentstoday.bufferSetting }} mEq/L</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Dialysate Temp</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{ appointmentstoday.dialysateTemp}} C</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Initial Heparin Bolus</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{ appointmentstoday.heparinBolus }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Dose Ordered</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{ appointmentstoday.doseOrdered }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>Last Treatment Date</label>
                                            </div>
                                            <div class="col-md-9">
                                                <p>{{ appointmentstoday.lastGivenDate }}</p>
                                            </div>
                                        </div>
                                        
                            </div>
                        </div>
                    
                </div>
            </form>           
        </div>

{% endblock %}