
{% extends 'hd/base.html' %}

{% block content %} 
<div class="row">
                    
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Year-to-Date Treatment Statistics</h4>
                               <!--  <p class="category">Last Campaign Performance</p> -->
                            </div>
                            <div class="content" id="chartcontainer">
                                <!-- <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Open
                                        <i class="fa fa-circle text-danger"></i> Bounce
                                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                                    </div>
                                </div> -->
                            </div>
                        </div>
                   

        </div>
        <div class="row">
                    
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Resources Availabilty for Today</h4>
                               <!--  <p class="category">Last Campaign Performance</p> -->
                            </div>
                            <div class="content" id="resourceGraph">
                                <!-- <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Open
                                        <i class="fa fa-circle text-danger"></i> Bounce
                                        <i class="fa fa-circle text-warning"></i> Unsubscribe
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                                    </div>
                                </div> -->
                            </div>
                        </div>
                   

        </div>
       <!--  <div class="row">
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">2014 Sales</h4>
                                <p class="category">All products including Taxes</p>
                            </div>
                            <div class="content">
                                <div id="chartActivity" class="ct-chart"></div>

                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Tesla Model S
                                        <i class="fa fa-circle text-danger"></i> BMW 5 Series
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-check"></i> Data information certified
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Hospital Notifications</h4>
                               <!--  <p class="category">Backend development</p> -->
                            </div>
                           
                        </div>
                    </div>
                </div>
	 -->
	 <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
    Highcharts.chart('chartcontainer', {{ chart1|safe }});
    Highcharts.chart('resourceGraph', {{ chart2|safe }});
</script>
<script type="text/javascript">
      $(document).ready(function(){

       

          $.notify({
              icon: 'pe-7s-gift',
              message: "Welcome to Santa Fe Dialysis Centre"

            },{
                type: 'info',
                timer: 4000
            });

      });
  </script>
{% endblock %}