
{% extends 'hd/base.html' %}
{% block content %} 
<div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">All Patient Information</h4>
                               <!--  <p class="category">Here is a subtitle for this table</p> -->
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Phone No</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    {% for patient in all_patients %}
      <tr>
        <th scope="row">{{patient.PATIENTID}}</th>
        <td>{{patient.FIRSTNAME}}</td>
        <td>{{patient.LASTNAME}}</td>
        <td>{{patient.PHONENO}}</td>
        <td>{{patient.ADDRESS}}</td>
      </tr>
    
  {% endfor %}
  </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                    

                </div>

	
{% endblock %}